<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout :: dynamic(~{::main})">

<main th:fragment="main">
<link rel="stylesheet" type="text/css" href="/styles/about.css">

<div class="content">
<span>Giới thiệu</span>
	<div class="intro">
	<label><a>colo</a><a style="color:red;">shop</a></label>
	là trang web chuyên bán máy tính xách tay online, 
	đồng thời cũng bán những trang thiết bị điện tử khác như là máy ảnh, điện thoại, tai nghe...
	</div><br>
	<div class="main-content">
		<div class="row">
			<div class="">
				<img alt="" src="">
			</div>
		</div>
		<div class="column">
			<div class="col-3">
				
			</div>
			<div class="col-3">
				
			</div>
			<div class="col-3">
				
			</div>
		</div>
	</div>
</div>
</main>
</html>