<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout :: dynamic(~{::main})">
	

<main th:fragment="main">
<link rel="stylesheet" type="text/css" href="/css/util.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
<div class="wrap-login100">
		<div class="login100-pic js-tilt" data-tilt>
			<img src="/images/img-01.png" alt="IMG" />
		</div>

		<form action="/account/retrieve-password" method="post"
			class="login100-form validate-form" > 
			<span class="login100-form-title">Forgot password </span> </br> <i
				th:text="${message}" style="color: red">message</i>
			<div class="wrap-input100 validate-input" data-validate="Username is required">
				<input class="input100" type="text" name="username"
					placeholder="Username" /> <span class="focus-input100"></span> <span
					class="symbol-input100"> <i class="fa fa-user"
					aria-hidden="true"></i>
				</span>
			</div>
			<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz"> 
				<input class="input100" type="email" name="email"
					placeholder="Email Address" /> <span class="focus-input100"></span>
				<span class="symbol-input100"> <i class="fa fa-envelope"
					aria-hidden="true"></i>
				</span>
			</div>			
			<div class="container-login100-form-btn">
				<button class="login100-form-btn">Retrieve Password</button>
			</div>

		</form>
	</div>
	
	
</main>
</html>