<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout :: dynamic(~{::main})">


<main th:fragment="main">
<link rel="stylesheet" type="text/css" href="/css/util.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />

	<div class="wrap-login100">
		<div class="login100-pic js-tilt" data-tilt>
			<img src="/images/sign-up.jpg" alt="IMG" />
		</div>

		<form th:object="${user}" action="/account/sign-up/create" 
    	method="post" enctype="multipart/form-data" class="login100-form validate-form">
    	  <span class="login100-form-title"> Sign Up </span> 
    	  <i th:text="${message}" style="color: red">message</i>
        <div class="wrap-input100 validate-input"
				data-validate="Username is required">
				<input th:field="*{username}" class="input100" type="text" name="password"
					placeholder="Username" /> <span class="focus-input100"></span> <span
					class="symbol-input100"> <i class="fa fa-user"
					aria-hidden="true"></i>
				</span>
			</div>
			
        
       
        <div class="wrap-input100 validate-input"
				data-validate="Password is required">
				<input th:field="*{password}" class="input100" type="password" name="password"
					placeholder="Password" /> <span class="focus-input100"></span> <span
					class="symbol-input100"> <i class="fa fa-lock"
					aria-hidden="true"></i>
				</span>
			</div>
			
           <div class="wrap-input100 validate-input"
				data-validate=" Confirm Password is required">
				<input name="confirm" class="input100" type="password" 
					placeholder="Confirm Password" /> <span class="focus-input100"></span> <span
					class="symbol-input100"> <i class="fa fa-lock"
					aria-hidden="true"></i>
				</span>
			</div>
        
  
        	
			<div  class="wrap-input100 validate-input"
				data-validate="Fullname is required">
				<input class="input100" type="text" name="fullname"
					placeholder="Full Name" /> <span class="focus-input100"></span> <span
					class="symbol-input100"> <i class="fa fa-user"
					aria-hidden="true"></i>
				</span>
			</div>

        <div  class="wrap-input100 validate-input"
				data-validate="Address is required">
				<input  th:field="*{address}" class="input100" type="text" name="fullname"
					placeholder="Address" /> <span class="focus-input100"></span> <span
					class="symbol-input100"> <i class="fa fa-address-card"
					aria-hidden="true"></i>
				</span>
			</div>
       
           <div class="wrap-input100 validate-input"
				data-validate="Valid Mobile is required : 84********(10 numbers)">
				<input th:field="*{mobile}"  class="input100" type="text" name="fullname"
					placeholder="Mobile" /> <span class="focus-input100"></span> <span
					class="symbol-input100"> <i class="fa fa-mobile"
					aria-hidden="true"></i>
				</span>
			</div>       
           <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
	
				<input th:field="*{email}"  class="input100" type="text"
					placeholder="Email" /> <span class="focus-input100"></span> <span
					class="symbol-input100"> <i class="fa fa-envelope"
					aria-hidden="true"></i>
				</span>
			</div>
        <label>Photo:</label><br>
        <input th:field="*{photo}" type="hidden">
        <input name="photo_file" type="file"><br>
        <div class="container-login100-form-btn">
				<button class="login100-form-btn">Sign Up</button>
			</div>
		</form>
	</div>
	<script src="/js2/main.js"></script>
	
</main>
</html>