<html xmlns:th="http://www.thymeleaf.org">

<section class="panel important">
<h3 style="color:red" th:text="${message}">message</h3>
<form th:object="${item}" method="post" enctype="multipart/form-data">
	<div class="twothirds">
    <label>Id:</label>
    <input th:field="*{id}"  readonly placeholder="Auto Number"	>
    
 	<label>Username:</label>
<!--     <input th:field="*{account.username}" > -->
    <select th:field="*{account.username}">
	    <th:block th:each="u: ${accounts}">
	    	<option th:value="${u.username}" th:text="${u.username}"></option>
	    </th:block>
    </select>
    
      <label>Role:</label>
    <select th:field="*{role.id}">
	    <th:block th:each="r: ${roles}">
	    	<option th:value="${r.id}" th:text="${r.name}"></option>
	    </th:block>
    </select>

    <input formaction="/admin/authority/create" type="submit" value="Create" />
    <input formaction="/admin/authority/update" type="submit" value="Update" />
    <a id="button" href="/admin/authority/index">Reset</a>
</div>
</form>
</section>

</html>